extends layout

block content
    
    h1.page-header Dashboard

    .row
        .col-md-8
            include ./partials/stockList
        .col-md-4
            include ./partials/notifications
            include ./partials/reorders