.panel.panel-info
    .panel-heading
        i.fa.fa-bell
        |  Notifications
    #lstNotifications.list-group
        each item in notifications
            include ../client/notification

script(src="/js/components/notifications.js")
