.panel.panel-warning
    .panel-heading
        i.fa.fa-check-square-o
        |  Reorders Needed
    #lstReorders.list-group
        each item in reorders
            a.list-group-item #{item.Name + ' (' + item.Quantity + ') remaining'}