extends ../layout

block content

    .panel.panel-default
        .panel-heading
            i.fa.fa-book
            |  Audit Log
        .panel-body
            ul.timeline
                each log, index in audit
                    include ../client/auditEntry

block scripts
    script(src="/js/audit/index.js")
