extends ../layout

block content
    
    .page-header
        h1 Audit Log

    ul.list-group
        each log in audit
            li.list-group-item
                span.badge #{log.Timestamp.toUTCString()}
                h4.list-group-item-heading #{log.Title}
                p.list-group-item-text #{log.Message}