.panel-heading.stock-group-heading(data-groupid="#{key}", onclick="toggleGroup(this)") #{group.Name}
ul.list-group.stock-group(data-groupid="#{key}")
    each item in group.Items
        include ./stockItem
