extends ../layout

block content

    .row
        .col-md-4.col-sm-6.col-center
            form.form-signin
                h2.form-signin-heading Login
                .form-group
                    label.control-label(for="email") Username
                    input.form-control(type="text", id="email", placeholder="Username", required, autofocus)
                .form-group
                    label.control-label(for="password") Password
                    input.form-control(type="password", id="password", placeholder="Password", required)
                .form-group
                    div.checkbox
                        label
                            input(type="checkbox", value="remember-me")
                            | Remember me
                .form-group
                    input#btnSubmit.btn.btn-primary(type="submit", value="Login")
                hr
                a(href="/register") Register an account
