form.form-signin
    h2.form-signin-heading Register Account
    .form-group
        label.sr-only(for="email") Username
        input.form-control(type="text", id="email", placeholder="Username", required, autofocus)
    .form-group
        label.sr-only(for="password") Password
        input.form-control(type="password", id="password", placeholder="Password", required)
        label.sr-only(for="password") Password
        input.form-control(type="password", id="password", placeholder="Password", required)
    .form-group
        input#btnSubmit.btn.btn-primary(type="submit", value="Register")