extends ../layout

block content

    if success == "true"
        #messageSuccess.alert.alert-success Stock group added successfully
    else if success == "false"
        #messageSuccess.alert.alert-danger Adding stock group failed

    .page-header
        h1 Add Stock Group

    form.col-sm-6(action="/stock-groups/create", method="post")
        .form-group
            label.control-label(for="name") Name
            input#txtName.form-control(type="text", name="name")
            span#msgExisting.help-block(style="display: none") A stock group with this name already exists
        .form-group
            input#btnSubmit.btn.btn-default(type="submit")

block scripts
    script(src="/js/stock-groups/new.js")