* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@grey: #333333;
@light-grey: #EBEBEB;
@primary: #F00;
@secondary: #00989d;

.clearfix:after,
.stock-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.icon(@path, @size) {
    background-repeat: no-repeat;
    background-image: url(@path);
    background-size: @size;
    background-position: center;
}

html,
body {
    font-family: 'Open Sans', Arial, sans-serif;
}

main {
    padding-top: 60px;
}

.category {
    font-size: 18px;

    + .category {
        margin-top: 10px;
    }

    .category-title {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid @grey;
        font-weight: bold;
    }
}

.stock-item {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid @light-grey;

    div {
        float: left;
    }

    .description {
        width: 90%;
    }

    .quantity {
        width: 10%;
    }
}
