* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after,
.stock-item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
html,
body {
  font-family: 'Open Sans', Arial, sans-serif;
}
main {
  padding-top: 60px;
}
.category {
  font-size: 18px;
}
.category + .category {
  margin-top: 10px;
}
.category .category-title {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #333333;
  font-weight: bold;
}
.stock-item {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
}
.stock-item div {
  float: left;
}
.stock-item .description {
  width: 90%;
}
.stock-item .quantity {
  width: 10%;
}