* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@grey: #333333;
@light-grey: #EBEBEB;
@primary: #F00;
@secondary: #00989d;

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.icon(@path, @size) {
    background-repeat: no-repeat;
    background-image: url(@path);
    background-size: @size;
    background-position: center;
}

html,
body {
    font-family: 'Open Sans', Arial, sans-serif;
}

main {
    padding-top: 60px;
}

#lstNotifications {
    a {
        cursor: pointer;

        &.new {
            background-color: fade(#d9edf7, 50%);
        }
    }
}

.stock-item h3.name {
    margin-top: 0;
}

@import (inline) "timeline.css";

.timeline-panel.focussed {
    box-shadow: 0 1px 6px rgba(140,140,255,0.5) !important;
}

.timeline-body > p {
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
}