extends ../layout

block content

    if success == "true"
        #messageSuccess.alert.alert-success Stock item updated successfully
    else if success == "false"
        #messageSuccess.alert.alert-danger Editing stock item failed

    .page-header
        h1 Edit Stock Items
        
    table.table
        thead
            tr
                th Name
                th Update
                th Delete
        tbody
            each item in items
                tr(id="row_#{item.Id}")
                    td
                        span #{item.Name}
                    td
                        a.btn.btn-default(href="edit/#{item.Id}")
                            i.fa.fa-pencil
                            |  Update
                    td
                        button.btn.btn-danger(onclick="")
                            i.fa.fa-trash-o
                            |  Delete

block scripts
    
