extends ../layout

block content

    if success == "true"
        #messageSuccess.alert.alert-success Stock item added successfully
    else if success == "false"
        #messageSuccess.alert.alert-danger Adding stock item failed

    h1.page-header Add Stock Item

    - var action = "create";

    include ./stockItemForm

block scripts
    script(src="/js/stock/new.js")
